<div class="post">
  <div class="header">
    <h1>Post title</h1>
    <button routerLink="/" class="btn btn-link">Главная</button>
  </div>
  <div class="info">
    <strong>Автор</strong>
    <small>25.04.2020</small>
  </div>
  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, facilis.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, facilis.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, facilis.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, facilis.</p>
  </div>
</div>
